$fontColor: #999;
$activeColor: #f10215;
$fontSpacer: #ccc;
$borderColor: rgba(0, 0, 0, .2);

.shortcut {
  border: 1px solid #ddd;
  background-color: #e3e4e5;

  .w {
    height: 30px;
    color: $fontColor;
    line-height: 30px;

    .fl {
      li {
        a {
          .icon-address {
            color: #f10215;
          }

          .text {
            color: #999;
          }
        }
      }
    }
  }

  .fr {
    position: relative;
    li {
      position: relative;
      float: left;
      margin-right: 8px;
      text-align: center;
      &:hover > a {
        color: $activeColor;
      }

      a {
        color: $fontColor;
      }

      .active {
        color: $activeColor;
      }
    }
  }

  .spacer {
    height: 10px;
    width: 1px;
    margin: 11px 5px 0;
    background-color: $fontSpacer;
  }
}

.jd_my_jd {
  li {
    line-height: normal;
  }
  a {
    padding: 22px 0;
  }
  .jd_my_jd_hover {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 280px;
    border: 1px solid $fontSpacer;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
    &.active {
      display: block;
    }
    .top, .bottom {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 10px;
      overflow: hidden;
      padding: 10px 0 10px 15px;
      .left, .right {
      width: 126px;
      float: left;
      a {
        display: block;
        padding: 0;
      }
     }
    }
    .bottom {
      border-bottom: none;
    }
  }
}

.jd_10086 {
  position: relative;
  .jd_10086_hover {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px 0;
    width: 170px;
    background-color: #fff;
    border: 1px solid $borderColor;
    padding: 10px 10px;
    z-index: 100;
    text-align: left;
    &.active {
      display: block;
    }
    .top, .bottom {
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-align: left;
      .title {
        font-size: 12px;
        font-weight: 700;
        text-align: left;

      }
      a {
        float: left;
        width: 70px;
        padding-left: 10px;
      }
    }
  }
}