
<div class="w">
  <div class="logo">
      <h2 class="logo-tit">
          <a href="http://www.jd.com"></a>京东,多快好省
      </h2>
      <h1 class="logo-pic">
          <a href="http://www.jd.com" title="京东,多快好省" target="_blank"><img src="./img/logo.gif" alt="京东logo"></a>
      </h1>
  </div>
</div>
<div class="search">
  <div class="w">
      <div class="search-m">
          <form action="">
              <label for="search"></label>
            <input type="text" id="search" placeholder="无线鼠标" autocomplete="off">
          </form>
          <ul class="search_ul" style="display: none;" >
          </ul>
          <span class="photo-search"></span>
          <button class="iconfont icon--search"></button>
          <div class="shopping-car">
              <span class="count-shopping-car">0</span><a href="#">我的购物车</a></div>
      </div>
      <div class="hotwords">
          <a href="#" class="style-red">9块9包邮</a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
      </div>
  </div>
  <div class="navitems">
      <ul>
          <li><a href="#" class="style-red">秒杀</a></li>
          <li><a href="#" class="style-red">优惠券</a></li>
          <li><a href="#">PLUS会员</a></li>
          <li><a href="#">品牌闪购</a></li>
          <li><a href="#">拍卖</a></li>
          <li><a href="#">京东家电</a></li>
          <li><a href="#">京东超市</a></li>
          <li><a href="#">京东生鲜</a></li>
          <li><a href="#">就乐国际</a></li>
          <li><a href="#">京东金融</a></li>
      </ul>
  </div>
  <div class="treature">
      <a href="https://pro.jd.com/mall/active/XtZDZRss1nEKZPpTs8R3tYGvrLT/index.html" target="_blank" title="点击就会进入京东"></a>
  </div>
</div>