<!--
 * @Author: your name
 * @Date: 2021-02-17 15:49:06
 * @LastEditTime: 2021-02-17 15:49:06
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \JDCOM\src\components\j-promotional.html
-->
<button class="j-promotional">关闭</button>
<div class="J-promotional-top">
    <div class="activity-top">
        <div class="w">
            <a href="https://www.JD.com" target="_blank">
                <div class="pic">
                    <div class="JD-618">
                        <img src="" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>