<div class="w">
  <ul class="fl">
    <li>
      <a href="">
        <i class="iconfont icon-address"></i>
        <span class="text">江西</span>
      </a>
    </li>
  </ul>
  <ul class="fr">
    <li class="jd_shortcut_login">
      <a href="">你好，请登录</a>
      <a href=""><span class="active">免费注册</span></a>
    </li>
    <li class="spacer"></li>
    <li class="jd_my_goods">
      <a href="">我的订单</a>
    </li>
    <li class="spacer"></li>
    <li class="jd_my_jd">
      <a href="">我是京东</a>
      <span class="iconfont icon-shangxiajiantou"></span>
      <div class="jd_my_jd_hover">
        <div class="top">
          <div class="left">
            <a href="">待处理订单</a>
            <a href="">返修退换货</a>
            <a href="">降价商品</a>
          </div>
          <div class="right">
            <a href="">消息</a>
            <a href="">我的问答</a>
            <a href="">我的关注</a>
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <a href="">我的京豆</a>
            <a href="">我的白条</a>
          </div>
          <div class="right">
            <a href="">我的优惠券</a>
            <a href="">我的理财</a>
          </div>
        </div>
      </div>
    </li>
    <li class="spacer"></li>
    <li class="jd_my_vip">
      <a href="">京东会员</a>
    </li>
    <li class="spacer"></li>
    <li class="jd_buy">
      <a href="" class="active">企业采购</a>
      <span class="iconfont icon-shangxiajiantou"></span>
      <div class="jd_buy_hover">
        <div class="top">
          <div class="left">
            <a href="">企业购</a>
            <a href="">工业品</a>
            <a href="">礼品卡</a>
            <a href="">大中型企业采购</a>
          </div>
          <div class="right">
            <a href="">商用场景馆</a>
            <a href="">丰客多商场</a>
            <a href="">微信企业购</a>
          </div>
        </div>
      </div>
    </li>
    <li class="spacer"></li>
    <li class="jd_10086">
      <a href="">客户服务</a>
      <span class="iconfont icon-shangxiajiantou"></span>
    </li>
    <li class="spacer"></li>
    <li class="jd_nav">
      <a href="">网站导航</a>
      <span class="iconfont icon-shangxiajiantou"></span>
    </li>
    <li class="spacer"></li>
    <li class="jd_phone">
      <a href="">手机京东</a>
    </li>
  </ul>
</div>
